# IDE files
.idea/

# User data
user_data/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

# Virtual environment
.venv/
env/
/data/
data/
data
logs
logs/
dist/
dist
!/dist/
!/logs/
!/OptionsBadger.spec
!/Untitled Document
!/build/
